@font-face {
    font-family: 'Gilroybold';
    src: url(../font-family/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: 'Gilroylight';
    src: url(../font-family/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.slider2::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 900px !important;
    background:white;
    top: 0;
    bottom: 0%;
    right: 95%;
}

.gradint-btn {
    transition: 300ms ease-in-out;
    background: linear-gradient(134deg, #FF2801 -0.47%, #FF6500 90.6%), linear-gradient(96deg, #0075FF 1.34%, #00F 107.5%);
}

.shadow-3d{
    text-shadow: 0px 4.909390449523926px 4.909390449523926px rgba(0, 0, 0, 0.25);
}