@font-face {
    font-family: 'Gilroybold';
    src: url(../dist/font-family/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: 'Gilroylight';
    src: url(../dist/font-family/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.slider2::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 900px !important;
    background:white;
    top: 0;
    bottom: 0%;
    right: 95%;
}